.navbar {
  background-color: #032556;
}

.titulo,
.nav-link {
  color: white !important;
}

#logo {
  width: 100px;
}

.main-container {
  border: 2px solid black;
  width: 80%;
  height: 90%;
  margin-top: 20px;
}

.call-log,
.datos-form {
  border: 1px solid black;
  width: 49%;
  height: 95%;
  margin-top: 20px;
}

.form-container {
  border: 1px solid red;
  width: 50%;
}
